---
import Layout from "../../layouts/Layout.astro";
import MainCallToAction from "../../components/MainCallToAction.astro";
import Container from "../../components/Container.astro";
import WhyExpresive from "../../components/SingleService/WhyExpresive.astro";
import "../../styles/index.css";

// Import the services data
import services from "../../data/services.json";

// Define the getStaticPaths function
export async function getStaticPaths() {
  return services.map(service => ({
    params: { service: service.slug }
  }));
}

// Get the current service slug from the URL
const { service } = Astro.params;

// Find the service data based on the slug
const currentService = services.find(s => s.slug === service);

if (!currentService) {
  throw new Error(`Service not found for slug: ${service}`);
}

const { title, description, image, features, services: serviceList, serviceImg, serviceTilte } = currentService;
---

<Layout>
    <main class="space-y-40">
        <div class="relative" id="home">
            <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
                <div class="blur-[106px] h-32 bg-gradient-to-r from-sky-700 to-sky-700"></div>
                <div class="blur-[106px] h-32 bg-gradient-to-r from-purple-700 to-fuchsia-600"></div>
            </div>

            <!-- hero section -->
            <section class="relative pt-[200px] pb-[120px]">
                <Container>
                    <div class="grid grid-cols-1 md:grid-cols-4 items-center gap-5 md:gap-2">
                        <div class="col-span-3 w-[90%]">
                            <div class="">
                                <h1 class="lg:leading-relaxed leading-10 text-gray-900 dark:text-white font-bold text-4xl md:text-5xl xl:text-6xl w-[30%]">
                                    {title}
                                </h1>
                                <p class="mb-6 font-normal text-gray-800 dark:text-gray-400 md:text-lg mt-5">
                                    {description}
                                </p>
                                <div class="flex">
                                    <a href="/" class="relative flex h-12 items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
                                        <span class="relative text-sm font-semibold text-white">Quick Quote</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-1">
                            <img src={image} alt="" class="h-full m-auto" />
                        </div>
                    </div>
                </Container>
            </section>

            
            <section class="relative pb-[120px] z-10">
                <Container>
                    {features && features.length > 0 && (
                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pb-[150px]">
                        <div class="w-[70%]">
                            <h3 class="text-3xl text-gray-900 dark:text-white font-bold">Why {title}?</h3>
                        </div>
                        <div>
                            <ul class="tick-list mt-6">
                                {features?.map(feature => (
                                    <li>
                                        <img src='/images/tick.svg' alt="" />
                                        <div>
                                            <span class="text-lg font-medium">{feature.title}</span><br/>
                                            <span>{feature.description}</span>
                                        </div>
                                    </li>
                                ))}
                            </ul>
                        </div>
                    </div>
                    )}

                    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                        <div class="service-content">
                            <h2>{serviceTilte}</h2>
                            {serviceList?.map(service => (
                                <div class="service-box">
                                    <div class="icon-wrap"><img src={service.icon} alt=""></div>
                                    <h4>{service.title}</h4>
                                    <p>{service.description}</p>
                                </div>
                            ))}
                        </div>
                        <div>
                            <img src={serviceImg} alt="" class="img-fluid sticky-img">
                        </div>
                    </div>
                </Container>
            </section>

            <!-- why section -->
            <WhyExpresive/>

            <!-- Call to action -->
            <MainCallToAction />
        </div>
    </main>
</Layout>
