---
import Container from "../Container.astro";

const { typesOfWebsites } = Astro.props;
---

<section class="relative pt-[100px] pb-[80px]">
  <Container>
    <div class="grid grid-cols-1 md:grid-cols-2 types-grid">
      <div>
        <h2 class="leading-relaxed text-gray-900 dark:text-white font-bold text-3xl md:text-4xl xl:text-4xl">Types of Websites We Provide</h2>
      </div>
      <div class="grid grid-cols-2 rounded-3xl relative overflow-hidden border border-[#E4E4E7]">
        {typesOfWebsites.map((type) => (
          <div class="group relative border-solid p-6 transition hover:z-[1] types-border transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10" key={type.title}>
            <div class="bg-gradient-to-br from-purple-100 to-blue-100 rounded-[20px] h-[60px] w-[60px] p-3 flex items-center justify-center">
              <img src={type.icon} alt={type.title} />
            </div>
            <h4 class="mt-5 text-lg font-semibold group-hover:text-secondary">{type.title}</h4>
            <p class="mt-1">{type.description}</p>
            <div class="mt-8">
              <a href={type.link} class="flex items-center justify-between group-hover:text-secondary">
                <span class="text-sm">Read More</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                  <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
                </svg>                
              </a>
            </div>
          </div>
        ))}
      </div>
    </div>
  </Container>
</section>
