---
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import MainCallToAction from '../components/MainCallToAction.astro';
import NewsComponent from '../components/NewInsight/NewsComponent.astro';
import highlightThumbnail from '../../public/images/blog thumbnail 1.png';
import highlightThumbnail1 from '../../public/images/Image2.png';
import highlightThumbnail3 from '../../public/images/Image1.png';
import highlightThumbnail2 from '../../public/images/Image.png';

---

<Layout>
    <main class="space-y-40">
		<div class="relative" id="home">
			<div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
				<div class="blur-[106px] h-32 bg-gradient-to-r from-yellow-700 to-yellow-700"></div>
				<div class="blur-[106px] h-32 bg-gradient-to-r from-purple-700 to-fuchsia-600"></div>
			</div>
            <section class="pt-[200px] pb-[80px] relative">
                <Container>
                    <h1 class="w-[300px] lg:leading-relaxed leading-10 text-gray-900 dark:text-white font-bold text-4xl md:text-5xl xl:text-6xl">NEWS & INSIGHTS</h1>
                </Container>
            </section>
            <section class="pb-[100px] relative">
                <Container>
                    <NewsComponent image={highlightThumbnail} title="The Ultimate Guide to Auditing Your Website for Optimal Performance " link="/"/>
                </Container>
            </section>
            
            <section class="relative pb-[150px]">
                <Container>
                    <div>
                        <h2 class="leading-relaxed text-gray-900 dark:text-white font-bold text-3xl md:text-4xl xl:text-4xl">Latest articles</h2>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-10">
                        <NewsComponent image={highlightThumbnail1} title="The Ultimate Guide to Auditing Your Website for Optimal Performance" link="/single-page"/>
                        <NewsComponent image={highlightThumbnail2} title="Mastering Magento SEO: A Blueprint for E-commerce Success" link="/"/>
                        <NewsComponent image={highlightThumbnail3} title="Top 8 Best Magento 2 Extensions To Boost Your Sales " link="/"/>
                        <NewsComponent image={highlightThumbnail1} title="The Ultimate Guide to Auditing Your Website for Optimal Performance" link="/"/>
                        <NewsComponent image={highlightThumbnail2} title="Mastering Magento SEO: A Blueprint for E-commerce Success" link="/"/>
                        <NewsComponent image={highlightThumbnail3} title="Top 8 Best Magento 2 Extensions To Boost Your Sales " link="/"/>
                        <NewsComponent image={highlightThumbnail1} title="The Ultimate Guide to Auditing Your Website for Optimal Performance" link="/"/>
                        <NewsComponent image={highlightThumbnail2} title="Mastering Magento SEO: A Blueprint for E-commerce Success" link="/"/>
                        <NewsComponent image={highlightThumbnail3} title="Top 8 Best Magento 2 Extensions To Boost Your Sales " link="/"/>
                        <NewsComponent image={highlightThumbnail1} title="The Ultimate Guide to Auditing Your Website for Optimal Performance" link="/"/>
                        <NewsComponent image={highlightThumbnail2} title="Mastering Magento SEO: A Blueprint for E-commerce Success" link="/"/>
                        <NewsComponent image={highlightThumbnail3} title="Top 8 Best Magento 2 Extensions To Boost Your Sales " link="/"/>
                    </div>
                </Container>
            </section>
            
            
            <!-- Call to action -->
			<MainCallToAction/>
        </div>
    </main>

</Layout>