---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import MainCallToAction from "../components/MainCallToAction.astro";
import NewsComponent from "../components/NewInsight/NewsComponent.astro";

const res = await fetch("https://blog.expresiv.com.au/wp-json/wp/v2/posts?_embed");
const posts = await res.json();

// for every post, check if feature image exists, if not create a dummy image
posts.forEach((post) => {
    if (!post._embedded['wp:featuredmedia']) {
        post._embedded['wp:featuredmedia'] = [
            {
                media_details: {
                    sizes: {
                        medium: {
                            source_url: "https://picsum.photos/389/201"
                        }
                    }
                }
            }
        ]
    }
});

// I am displaying first post in the hero section, so I will remove it from the list
// capture the first post
const heroPost = posts.shift();
---

<Layout>
    <main class="space-y-40">
        <div class="relative" id="home">
            <div
                aria-hidden="true"
                class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
            >
                <div
                    class="blur-[106px] h-32 bg-gradient-to-r from-yellow-700 to-yellow-700"
                >
                </div>
                <div
                    class="blur-[106px] h-32 bg-gradient-to-r from-purple-700 to-fuchsia-600"
                >
                </div>
            </div>
            <section class="pt-[200px] pb-[80px] relative">
                <Container>
                    <h1
                        class="w-[300px] lg:leading-relaxed leading-10 text-gray-900 dark:text-white font-bold text-4xl md:text-5xl xl:text-6xl"
                    >
                        NEWS & INSIGHTS
                    </h1>
                </Container>
            </section>
            <section class="pb-[100px] relative">
                <Container>
                    <NewsComponent
                        image={heroPost._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url}
                        title={heroPost.title.rendered}
                        link={heroPost.slug}
                    />
                </Container>
            </section>

            <section class="relative pb-[150px]">
                <Container>
                    <div>
                        <h2
                            class="leading-relaxed text-gray-900 dark:text-white font-bold text-3xl md:text-4xl xl:text-4xl"
                        >
                            Latest articles
                        </h2>
                    </div>
                    <div
                        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mt-10"
                    >

                        {
                            posts.map((post) => (
		                            <NewsComponent
				                            image={post._embedded['wp:featuredmedia'][0].media_details.sizes.medium.source_url}
				                            title={post.title.rendered}
				                            link={post.slug}
		                            />
				                    // <h2 set:html={post.title.rendered} />
				                    // <p set:html={post.content.rendered} />
                            ))
                        }

                    </div>
                </Container>
            </section>

            <!-- Call to action -->
            <MainCallToAction />
        </div>
    </main>
</Layout>
